
<div id="homepage_header">

  <div class="homepage_background otherpage_background "></div>
  <a href=<%= root_path %>><div id="logo"></div></a>
  <div class="container otherpage_background_fix ">

  <!-- Logo -->
    <!--<div id="logoText">-->
      <!--<h1><a href=<%= root_path %>>BC Studio</a></h1>-->
    <!--</div>-->
  
  <!-- Nav -->
    <!--<nav id="nav">-->
      <!--<ul>-->
        <!--&lt;!&ndash; <li class="active"><a href="index.html">Homepage</a></li> &ndash;&gt;-->
        <!--<li><%#= link_to "Graphic Design", home_design_path%></li>-->
		<!--<li class="active"><%#= link_to "MKT Creatives", home_creatives_path%></li>-->
        <!--<li><%#= link_to "Website", home_website_path%></li>-->
        <!--<li><%#= link_to "Consultant", home_consultant_path%></li>-->
        <!--<li><%#= link_to "Contact", contacts_path%></li>-->
      <!--</ul>-->
    <!--</nav>-->
  </div>
</div>
<nav id="navGorizontal">
  <ul>
    <!-- <li class="active"><a href="index.html">Homepage</a></li> -->
    <li><%= link_to "Graphic Design", home_design_path%></li>
    <li class="active"><%= link_to "MKT Creatives", home_creatives_path%></li>
    <li><%= link_to "Website", home_website_path%></li>
    <li><%= link_to "Consultant", home_consultant_path%></li>
    <li><%= link_to "Contact", contacts_path%></li>
  </ul>
</nav>
<div class="container-fluid intro" id="about">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="chain">MARKETING CREATIVES</h1>
      <p class="text-intro">Bring your brand alive - Elite artists, designers, content editors, marketing specialists and strategists will all work together…</p>
    </div>
  </div>
</div>
<div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 section-1 nopadding" id="work">
				<div class="logo-1 wp1"></div>
			</div>
			<div class="col-md-4 section-text nopadding">
				<div class="wp4">
					<h2 class="frame">Cow Cow Cow, PINK COW!</h2>
                    <p>Car Car Car, A CAMEL!</p>
					<!--<ul class="fixed-ul-1">-->
						<!--<li>Unique patented undergarment design</li>-->
						<!--<li>Different from any back brace on the  market</li>-->
						<!--<li>The only brace designed to be worn under your clothes</li>-->
						<!--<li>Works by protecting spine and nerves from compression during sleeping, sitting or driving</li>-->
					<!--</ul>-->
					<div class="thin-sep"></div>
				</div>
				<div class="small-featured-img section-small-1">
					<div class="arrow"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 section-text nopadding">
				<div class="wp5">
					<h2 class="mech">Creative Advertisement</h2>
					<!--<ul class="fixed-ul-2">-->
						<!--<li>Supports back muscles</li>-->
						<!--<li>Promotes proper posture</li>-->
						<!--<li>Attractive separate design for women, pregnant women and men</li>-->
						<!--<li>Discrete and comfortable to be worn day and night</li>-->
					<!--</ul>-->
					<div class="thin-sep"></div>
				</div>
				<div class="small-featured-img section-small-3">
					<div class="arrow"></div>
				</div>
			</div>
			<div class="col-md-8 section-2 nopadding">
				<div class="logo-2 wp2"></div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 section-3">
				<div class="logo-3 wp3"></div>
			</div>
			<div class="col-md-4 section-text nopadding">
				<div class="wp6">
					<h2 class="front-frame">We offer:</h2>
					<ul class="fixed-ul-3">
						<li>Brand Design</li>
						<li>Display Ads</li>
						<li>E-commerce Design</li>
						<li>Retail Design</li>
					</ul>
					<div class="thin-sep"></div>
				</div>
				<div class="small-featured-img section-small-3">
					<div class="arrow"></div>
				</div>
			</div>
			<div class="col-md-4 section-4"></div>
		</div>
	</div>
</div>

