
<div id="homepage_header">

  <div class="homepage_background otherpage_background "></div>
  <a href=<%= root_path %>><div id="logo"></div></a>
  <div class="container otherpage_background_fix ">


    <!-- Logo -->
    <!--<div id="logoText">-->
    <!--<h1><a href=<%= root_path %>>BC Studio</a></h1>-->
    <!--</div>-->

    <!-- Nav -->
    <!--<nav id="nav">-->
    <!--<ul>-->
    <!--&lt;!&ndash; <li class="active"><a href="index.html">Homepage</a></li> &ndash;&gt;-->
    <!--<li><%#= link_to "Graphic Design", home_design_path%></li>-->
    <!--<li><%#= link_to "MKT Creatives", home_creatives_path%></li>-->
    <!--<li class="active"><%#= link_to "Website", home_website_path%></li>-->
    <!--<li><%#= link_to "Consultant", home_consultant_path%></li>-->
    <!--<li><%#= link_to "Contact", contacts_path%></li>-->
    <!--</ul>-->
    <!--</nav>-->
  </div>
</div>
<nav id="navGorizontal">
  <ul>
    <!-- <li class="active"><a href="index.html">Homepage</a></li> -->
    <li><%= link_to "Graphic Design", home_design_path%></li>
    <li><%= link_to "MKT Creatives", home_creatives_path%></li>
    <li class="active"><%= link_to "Website", home_website_path%></li>
    <li><%= link_to "Consultant", home_consultant_path%></li>
    <li><%= link_to "Contact", contacts_path%></li>
  </ul>
</nav>

<div class="container-fluid padding-top-sm" id="about">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="chain chain-website"></h1>
      <p class="text-intro"><a href="javascript:;">Don't Ever Click Here</a></p>
    </div>
  </div>
</div>

<div class="website-block">
  <div class="content-block">
    <!--<h2 class="website-h2">Do not click!</h2>-->
    <div class="row">
      <div class="col-sm-5 col-md-5 website-text-left">
        <h4><a href="https://intense-brook-3856.herokuapp.com/">Miracle Back Brace</a></h4>
        <p>If you suffer from Lower Back Pain the Miracle Back Brace my greatly improve your life by letting you go throughout the daily activities with little or no pain.Miracle Back Brace is a new patented back brace that is incredibly effective</p>
      </div>
      <div class="box col-sm-7 col-md-7 nopadding">
        <%=image_tag('website/image-6.png', class: "one-column") %>
        <div class="overlay">
            <span class="overlay-content">
                <a href="https://intense-brook-3856.herokuapp.com" class="button">Go to site</a>
            </span>

        </div>
      </div>
    </div>
    <div class="row ">
      <div class="box col-sm-7 col-md-7 nopadding">
        <%=image_tag('website/image-7.png', class: "one-column") %>
        <div class="overlay">
                        <span class="overlay-content">
                            <a href="http://dev.bullcentury.com" class="button">Go to site</a>
                        </span>

        </div>
      </div>

      <div class="col-sm-5 col-md-5 website-text-right">
        <h4><a href="http://dev.bullcentury.com">BullCentury - Crowdfunding</a></h4>
        <p>Crowdfunding (alternately crowd financing, equity crowdfunding, crowd-sourced fundraising) is the collective effort of individuals who network and pool their money, usually via the Internet, to support efforts initiated by other people or organizations.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-5 website-text-left">
        <h4><a href="https://intense-brook-3856.herokuapp.com/">Miracle Back Brace</a></h4>
        <p>If you suffer from Lower Back Pain the Miracle Back Brace my greatly improve your life by letting you go throughout the daily activities with little or no pain.Miracle Back Brace is a new patented back brace that is incredibly effective</p>
      </div>
      <div class="box col-sm-7 col-md-7 nopadding">
        <%=image_tag('website/image-8.png', class: "one-column") %>
        <div class="overlay">
                        <span class="overlay-content">
                            <a href="https://intense-brook-3856.herokuapp.com" class="button">Go to site</a>
                        </span>

        </div>
      </div>
    </div>
    <div class="row ">
      <div class="box col-sm-7 col-md-7 nopadding">
        <%=image_tag('website/image-1.png', class: "one-column") %>
        <div class="overlay">
					<span class="overlay-content">
						<a href="http://dev.bullcentury.com" class="button">Go to site</a>
					</span>

        </div>
      </div>

      <div class="col-sm-5 col-md-5 website-text-right">
        <h4><a href="http://dev.bullcentury.com">BullCentury - Crowdfunding</a></h4>
        <p>Crowdfunding (alternately crowd financing, equity crowdfunding, crowd-sourced fundraising) is the collective effort of individuals who network and pool their money, usually via the Internet, to support efforts initiated by other people or organizations.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-5 website-text-left">
        <h4><a href="https://intense-brook-3856.herokuapp.com/">Miracle Back Brace</a></h4>
        <p>If you suffer from Lower Back Pain the Miracle Back Brace my greatly improve your life by letting you go throughout the daily activities with little or no pain.Miracle Back Brace is a new patented back brace that is incredibly effective</p>
      </div>
      <div class="box col-sm-7 col-md-7 nopadding">
        <%=image_tag('website/image-2.png', class: "one-column") %>
        <div class="overlay">
					<span class="overlay-content">
						<a href="https://intense-brook-3856.herokuapp.com" class="button">Go to site</a>
					</span>

        </div>
      </div>
    </div>
    <div class="row ">
      <div class="box col-sm-7 col-md-7 nopadding">
        <%=image_tag('website/image-3.png', class: "one-column") %>
        <div class="overlay">
					<span class="overlay-content">
						<a href="http://dev.bullcentury.com" class="button">Go to site</a>
					</span>

        </div>
      </div>

      <div class="col-sm-5 col-md-5 website-text-right">
        <h4><a href="http://dev.bullcentury.com">BullCentury - Crowdfunding</a></h4>
        <p>Crowdfunding (alternately crowd financing, equity crowdfunding, crowd-sourced fundraising) is the collective effort of individuals who network and pool their money, usually via the Internet, to support efforts initiated by other people or organizations.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-5 website-text-left">
        <h4><a href="https://intense-brook-3856.herokuapp.com/">Miracle Back Brace</a></h4>
        <p>If you suffer from Lower Back Pain the Miracle Back Brace my greatly improve your life by letting you go throughout the daily activities with little or no pain.Miracle Back Brace is a new patented back brace that is incredibly effective</p>
      </div>
      <div class="box col-sm-7 col-md-7 nopadding">
        <%=image_tag('website/image-4.png', class: "one-column") %>
        <div class="overlay">
					<span class="overlay-content">
						<a href="https://intense-brook-3856.herokuapp.com" class="button">Go to site</a>
					</span>

        </div>
      </div>
    </div>
    <div class="row ">
      <div class="box col-sm-7 col-md-7 nopadding">
        <%=image_tag('website/image-5.png', class: "one-column") %>
        <div class="overlay">
					<span class="overlay-content">
						<a href="http://dev.bullcentury.com" class="button">Go to site</a>
					</span>

        </div>
      </div>

      <div class="col-sm-5 col-md-5 website-text-right">
        <h4><a href="http://dev.bullcentury.com">BullCentury - Crowdfunding</a></h4>
        <p>Crowdfunding (alternately crowd financing, equity crowdfunding, crowd-sourced fundraising) is the collective effort of individuals who network and pool their money, usually via the Internet, to support efforts initiated by other people or organizations.</p>
      </div>
    </div>

  </div>
</div>